// $color-primary: #ff6666;
$main-font-color: #f66a1d;
$font-color-666: #666666;
$font-color-999: #999999;
$font-color-ddd: #dddddd;
$font-color-e5: #e5e5e5;
$wqd-font-color: #FFE3B9;
$wqd-color-default: #FFE3B9;
$wqd-gradient-bg: linear-gradient(to right, #EBBE7E, #D2A355);